

 body {
    font-family: Roboto;
}


#course-title {
    font-family: Merriweather;
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.topbar {
    background-color: #36454f;
    max-width: 800px;
    margin: 0 auto;

}

.topbar ul {
    list-style-type: none;
    display: flex;
    
}

.topbar ul li {
    flex: 1 1 100%;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    color: #fff;
}

nav a:hover {
    text-decoration: overline;
}

main {
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    grid-template-columns: 2fr 1fr;
    

}

.card {
      border: .1px dotted #ccc;
      
    }


.profile {
    width: 150px;
    margin-right: .2rem;
    
    

}

.me p {
    text-align: center;
    padding: 1rem;
}
.me img {
    float: right;
    margin: .5rem;
}

h1 {
    text-align: center;
    padding: 0.5rem;
    grid-column: 1/3;
}

.about p {
    padding: .5rem;
    text-align: center;
}

.card h2 {
    text-align: center;
    
    margin-left: 2rem;
    margin-right: 2rem;
    border-bottom: .1px solid #ccc;
    padding: .2rem;
   
}



.city {
    margin-top: 3rem;
}
.city img {
    float: left;
    margin: .5rem;
    width: 200px;
    height: auto;
}

.city p {
    text-align: center;
    margin: 1rem;
    
}


.webdev {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-right: 3rem;
    
}


.webdev li a {
    color: blue;
}

footer {
    text-align: center;
    margin-top: 2rem;
}


