
:root {
  --primary-color: #000b6ee0;   
  --secondary-color: #ffe571; 
  --accent-color: #ffffff;
  
  --font-body: 'Roboto', sans-serif;
}


body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}


header {
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
}







main {
  
  margin: 0 auto;
  padding: 1rem;
}


.hero {
  position: relative;
  text-align: center;
  margin-bottom: 3rem;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem;
}




.data, .weather {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 2px solid #ddd;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  opacity: 0.95;
  
  text-align: center;
}




.weather h2::after {
  content: " ⛅";
  align-self: center;
}

.weather-icon-mobile {
  display: none;
  width: 50px;
}

footer {
    text-align: center;
    border-top: 1px solid black;
    padding-top: 1rem;
    
    font-size: 1.2rem;
    
    
}










@media (min-width: 701px) {
 
  

  .data, .weather {
    position: absolute;
    top: 40%;
    width: 250px;
  }

  .data {
    left: 5%;
  }

  .weather {
    right: 5%;
  }

  .data, .weather {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  opacity: 0.95;
  
  text-align: center;
}



}










@media (max-width: 700px) {



  .weather h2::after {
    content: "";
  }

  .weather-icon-mobile {
    display: block;
    margin: 0 auto;
    
  }
}